<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LostAndFound</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addLost</display-name>
    <servlet-name>addLost</servlet-name>
    <servlet-class>addLost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addLost</servlet-name>
    <url-pattern>/addLost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFound</display-name>
    <servlet-name>addFound</servlet-name>
    <servlet-class>addFound</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFound</servlet-name>
    <url-pattern>/addFound</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LostSrv</display-name>
    <servlet-name>LostSrv</servlet-name>
    <servlet-class>LostSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LostSrv</servlet-name>
    <url-pattern>/LostSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoundSrv</display-name>
    <servlet-name>FoundSrv</servlet-name>
    <servlet-class>FoundSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoundSrv</servlet-name>
    <url-pattern>/FoundSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObjectSrv</display-name>
    <servlet-name>ObjectSrv</servlet-name>
    <servlet-class>ObjectSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjectSrv</servlet-name>
    <url-pattern>/ObjectSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThingSrv</display-name>
    <servlet-name>ThingSrv</servlet-name>
    <servlet-class>ThingSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThingSrv</servlet-name>
    <url-pattern>/ThingSrv</url-pattern>
  </servlet-mapping>
</web-app>